<html>
    <head>
        <title>my user</title>
        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

        <style>
            body {
              background-color: linen;
            }            
        </style>
    </head>
<body>
    <div class="container p-3 my-3 bg-dark text-white">
    <h1><%= users %> </h1>
    <a href="/"><%= show %></a>
</div>
</body>

</html>